body {
  background-color: #263238;
  margin: 0px 0px 0px 0px;
}
.menu {
  background-color: #37474F;
  padding: 20px 0px 60px 0px;
  height: 210px;
  width: 100%;
  text-align: center;
}

.image-thumbnail{
  max-width: 100px;
  height: auto;
  margin: 20px 5px 0px 5px;
}

.droppable{
  border: 2px dashed #e0f7fa;
}

.modal-lg {
  width: 800px;
  height: 600px;
  overflow-y: auto;
}

.thumbnail{
  background-color: rgba(55, 71, 79, 0.2);
  border: 0px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.btn-menu{
  margin: 0px 40px 0px 40px;
  font-size: 100px;
  border: 0px;
  background-color: transparent;
  color: #b2ebf2;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.arrows{
  vertical-align: bottom;
  display:inline-block;
}

.thumbnail-carousel{

}

[draggable] {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   -khtml-user-drag: element;
   -webkit-user-drag: element;
 }


.btn-thumb{
  height: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  border: 0px;
  background-color: transparent;
  color: #b2ebf2;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

img, canvas {
    max-width: 100%;
    height: auto;
}

.sublabel{
  color: #b2ebf2;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.sortable-moving {
  opacity: 0.4;
}

.btn-upload {
  position:absolute;
  z-index:2;top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
}

@media (max-width: 583px) {
  .menu {
    background-color: #37474F;
    height: 300px;
  }

@media (max-width: 400px) {
  .menu {
    background-color: #37474F;
    height: 470px;
  }
}

