body {
  background-color: #263238;
  margin: 0px 0px 0px 0px;
}

.menu {
  background-color: #37474F;
  padding: 20px 0px 60px 0px;
  height: 150px;
  width: 100%;
  text-align: center;
}

.menu-thumb {
  padding: 0px 0px 60px 0px;
  height: 210px;
  width: 100%;
  text-align: center;
}

.slide-view {
  padding: 0px 0px 60px 0px;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.media-components {
  margin-top: 30px;
}

.media-shape{
  margin-bottom: 5px;
  padding-right: 2px;
  position: relative;
  left: -60px;
  width: 70px;
  border-radius: 7px;
  text-align: center;
}

.media-shape-dark{
  background-color: #37474F;
}

.media-shape-green{
  background-color: #b2ebf2;
}

.icon-dark {
    color: #37474F;
    text-align: left;
    font-size: 50px;
}

.icon-green {
    color: #b2ebf2;
    text-align: left;
    font-size: 50px;
}

.image-thumbnail{
  max-width: 100px;
  height: auto;
  margin: 20px 5px 0px 5px;
}

.droppable{
  border: 2px dashed #e0f7fa;
}

.modal-lg {
  width: 800px;
  height: 600px;
  overflow-y: auto;
}

.thumbnail{
  background-color: rgba(55, 71, 79, 0.2);
  border: 0px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.btn-menu{
  margin: 0px 40px 0px 40px;
  font-size: 60px;
  border: 0px;
  background-color: transparent;
  color: #b2ebf2;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.arrows{
  vertical-align: bottom;
  display:inline-block;
}

.thumbnail-carousel{

}

[draggable] {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   -khtml-user-drag: element;
   -webkit-user-drag: element;
 }


.btn-thumb{
  height: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  border: 0px;
  background-color: transparent;
  color: #b2ebf2;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

img, canvas {
    max-width: 100%;
    height: auto;
}

.sublabel{
  color: #b2ebf2;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.sortable-moving {
  opacity: 0.4;
}

.btn-upload {
  position:absolute;
  z-index:2;top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
}

.landing-page {
  background-image: url('../img/man-coffee-cup-pen.jpg');
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  margin: 0px 0px 0px 0px;
}

.blue-content{
  padding-left: 0px !important;
  height: 100%;
  background-color: rgba(55, 71, 79, 0.9);
}

.title{
  padding-top: 40%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 80px;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.sub-title{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.login-container{
  background-color: white;
  padding: 30px 30px 30px 30px;
  margin: 40% 100px 30px 100px;
}

.btn-start {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #00838f;
  box-shadow: 0 2px 0 0 #006064;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 1.0;
}

.form-field{
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 2px;
}

.btn-pdf {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #00838f;
  box-shadow: 0 2px 0 0 #006064;
  border: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.btn-upload {
  z-index:2;
  top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
}

.icon{
  font-size: 80px;
  background-color: transparent;
  color: #b2ebf2;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}


@media (max-width: 558px) {
  .menu {
    background-color: #37474F;
    height: 300px;
  }
  .menu-thumb {
    padding: 0px 0px 60px 0px;
    height: 300px;
    width: 100%;
    text-align: center;
  }
  .blue-content{
    padding-left: 0px !important;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 71, 79, 0.9);
  }
}

@media (max-width: 368px) {
  .menu {
    background-color: #37474F;
    height: 420px;
  }
  .menu-thumb {
    padding: 0px 0px 60px 0px;
    height: 470px;
    width: 100%;
    text-align: center;
  }
  .blue-content{
    padding-left: 0px !important;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 71, 79, 0.9);
  }
}
