.landing-page {
  background-image: url('../img/man-coffee-cup-pen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  margin: 0px 0px 0px 0px;
}

.blue-content{
  padding-left: 0px !important;
  height: 100%;
  background-color: rgba(55, 71, 79, 0.9);
}

.title{
  padding-top: 40%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 80px;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.sub-title{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.login-container{
  background-color: white;
  padding: 30px 30px 30px 30px;
  margin: 40% 100px 30px 100px;
}

.btn-start {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #00838f;
  box-shadow: 0 2px 0 0 #006064;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 1.0;
}

.form-field{
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 2px;
}

.btn-pdf {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #00838f;
  box-shadow: 0 2px 0 0 #006064;
  border: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.btn-upload {
  z-index:2;
  top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
}

.icon{
  font-size: 80px;
  background-color: transparent;
  color: #b2ebf2;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
