<html>

<head>

    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
</head>

<!--
  Created using jsbin.com
  Source can be edited via http://jsbin.com/pdfjs-helloworld-v2/8598/edit
-->
<style>
    .content {
        display: inline-grid;
    }
    
    canvas {
        border: 1px solid black;
    }
    
    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }
</style>


<body>

    <div class="content">

    </div>
    <!-- <canvas id="the-canvas"></canvas> -->
    <div>
        <input id='pdf' type='file' />
    </div>

    <!-- Use latest PDF.js build from Github-->
    <script type="text/javascript" src="https://rawgithub.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
    <script type="text/javascript" src="../js/split-file.js"></script>
    <script type="text/javascript" src="../js/lib/sortable.js"></script>
    
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>